<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.chadkight.booktrackr"
        versionCode = "10" 
        version     = "1.0.0" >


    <name>Book Trackr</name>

    <description>
        This app is intended to help book readers keep track of their places in books, alog with a few other special features.
    </description>

    <author href="#" email="ckight1@vikings.sjrstate.edu">
        Chad Kight
    </author>
	
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
	</feature>
	
	<icon src="icon.png" />
	
	<gap:plugin name="org.apache.cordova.splashscreen" />
	
	
	
</widget>